body{
    background-color:#1679e3;
}

.cont-anim{
    height:500px;
    width:500px;
}

.anim-text{
    position: absolute;
    font-size:20px;
    text-align:center;
    margin-left: 600px;
    margin-top: -480px;
    color: white;
    width: 600px;
}


.coin{
    position:fixed;
    width:128px;
    height:128px;
    top: 80%;
    left: 75%;
}


.link-secondary{
    color:white;
}

.fs-6{
    font-size:90px;
    color:#fff100;
}
