body{
    background: radial-gradient(circle,#3796fc 0,#0c72df 100%)!important;
}

.apresentação{
    color: white;
    text-align: center;
}

.cont-anim{
    height:500px;
    width:500px;
}

.anim-text{
    position: absolute;
    font-size:20px;
    text-align:center;
    margin-left: 600px;
    margin-top: -480px;
    color: white;
    width: 600px;
}


.coin{
    position:fixed;
    width:128px;
    height:128px;
    top: 75%;
    left: 85%;
}


.link-secondary{
    color:white;
}

.fs-6{
    font-size:90px;
    color:#fff100;
}
