.navbar{
  background-color:#035cbb;
}
/*#1679e3*/

li.navbar-nav{
  color:white;
}

ms-md-2{
  margin-left: 50px
}


body{
    background: radial-gradient(circle,#3796fc 0,#0c72df 100%)!important;
}


.cont-anim{
    height:500px;
    width:500px;
}

.container-info {
    display: grid;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    min-height: 500px;
}

/*Texto das animações*/
.anim-text{
    font-size:20px;
    text-align: center;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;
    
    max-width: 80% ;    
}


/*Container das animações e do texto das animações*/
@media (min-width: 900px) {
    .container-info {
        grid-template-columns: repeat(2, 500px);
    }
    .anim-text{ 
        padding: 0 !important;
        max-width: 100%;

    }
}


.anim-num{
    align-items:center;
}

.coin{
    position:fixed;
    width:128px;
    height:128px;
    top: 77%;
    left: 88%;
}

.text{
    color:white;
}

.title{
    color:#fff100; 
}


.fs-6{
    font-size:90px;
    color:#fff100;
}

.link-secondary{
    color:white;
}

h1,h2,h3,h4{
    color:#fff100;
}

.funciona{
    margin-left: 30px;
    margin-right: 30px;
}


.modal {width: 300px;}

.modal-content {width: 300px;}
